<h1>Komande</h1>
<div class="form-group">
    <label for="SCPIPort">SCPI port</label>
    <input value="3021" class="form-control" id="SCPIPort" placeholder="Primer: 3021?">
    <label for="SCPIIP">SCPI IP address</label>
    <input value="147.91.204.30" class="form-control" id="SCPIIP" placeholder="Primer: 147.91.204.30">
    <label for="SCPICommand">SCPI command</label>
    <input class="form-control" id="SCPICommand" aria-describedby="CommandHelp" placeholder="Primer: *IDN?">
    <small id="CommandHelp" class="form-text text-muted">Koristiti za testiranje komandi</small>
</div>
<button class="btn btn-primary" onclick="izvrsiKomandu()">Izvrsi</button>
<p id="commandResult"></p>

<script>
    function izvrsiKomandu() {
        $.post("api/commands/execute", {"port":$("#SCPIPort").val(), "ip":$("#SCPIIP").val(), "command":$("#SCPICommand").val()}, function(data) {
            // console.log(data);
            $("#commandResult").html(data);
        });
    }
</script>